{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block head %}
    {{super()}}
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta http-equiv="refresh" content="30" >
{% endblock %}

{% block title %}
    {{ title }} - NYU CUE
{% endblock %}

{% block navbar %}
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">NYU CUE Workstation Status</span>
    </nav>
  </div>
{% endblock navbar %}

{% block content %}
  <div class="container mt-2">
    {% block app_content %}{% endblock %}
  </div>
{% endblock %}
